<a href="https://colab.research.google.com/github/Navya-89/navya89/blob/main/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
!pip install vaderSentiment

Collecting vaderSentiment
  Downloading https://files.pythonhosted.org/packages/76/fc/310e16254683c1ed35eeb97386986d6c00bc29df17ce280aed64d55537e9/vaderSentiment-3.3.2-py2.py3-none-any.whl (125kB)
     |████████████████████████████████| 133kB 27.3MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (1.24.3)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

In [40]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
vs = SentimentIntensityAnalyzer()

In [5]:
# Web Scraping

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import os

In [5]:
url1 = 'http://www.inshorts.com/en/read/sports'
news_data = []
news_category = url.split('/')[-1]
data = requests.get(url)
soup = BeautifulSoup(data.content)

In [8]:
urls = ['http://www.inshorts.com/en/read/sports',
        'http://www.inshorts.com/en/read/world',
        'http://www.inshorts.com/en/read/politics']
def build_dataset(urls):
  news_data = []
  for url in urls:
    news_category = url.split('/')[-1]
    data = requests.get(url)
    soup = BeautifulSoup(data.content)

    news_articles = [{'news_headline':headline.find('span',attrs={'itemprop':'headline'}).string,
                      'news_article':article.find('div',attrs={'itemprop':'articleBody'}).string,
                      'news_category':news_category}
                     for headline,article in zip(soup.find_all('div',class_=['news-card-title news-right-box']),
                                                 soup.find_all('div',class_=['news-card-content news-right-box']))]
                     
    news_articles = news_articles[0:20]
    news_data.extend(news_articles)

  df = pd.DataFrame(news_data)
  df = df[['news_headline','news_article','news_category']]
  return df

In [9]:
df = build_dataset(urls)
df.head(5)

                                       news_headline  ... news_category
0  Sri Lankan batting is very fragile, bowling a ...  ...        sports
1  What is the head-to-head record of India and S...  ...        sports
2  Italy's Bonucci trolls England fans over 'Stic...  ...        sports
3  Lionel Messi gets mobbed by hundreds of fans o...  ...        sports
4  2 athletes in Olympic Village test positive fo...  ...        sports

[5 rows x 3 columns]

In [10]:
df.to_csv('news.csv')

In [58]:
df = pd.read_csv('/content/news.csv')

In [59]:
df.head(6)

   Unnamed: 0  ... news_category
0           0  ...        sports
1           1  ...        sports
2           2  ...        sports
3           3  ...        sports
4           4  ...        sports
5           5  ...        sports

[6 rows x 4 columns]

In [60]:
df = df.drop(columns='Unnamed: 0',axis = 1)

In [29]:
#preprocessing

In [61]:
#to remove stop words
import nltk
nltk.download('stopwords')
stopword_list = nltk.corpus.stopwords.words('english')
# remove no and not from stopwords list
stopword_list.remove('no')
stopword_list.remove('not')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [31]:
len(stopword_list)

177

In [62]:
#to remove HTML tags 
def html_tag(text):
  soup = BeautifulSoup(text,'html.parser')
  new_text = soup.get_text()
  return new_text

In [63]:
# to remove contractions 
!pip install contractions
import contractions
def con(text):
  expand = contractions.fix(text)
  return expand

Requirement already satisfied: contractions in /usr/local/lib/python3.7/dist-packages (0.0.52)
Requirement already satisfied: textsearch>=0.0.21 in /usr/local/lib/python3.7/dist-packages (from contractions) (0.0.21)
Requirement already satisfied: pyahocorasick in /usr/local/lib/python3.7/dist-packages (from textsearch>=0.0.21->contractions) (1.4.2)
Requirement already satisfied: anyascii in /usr/local/lib/python3.7/dist-packages (from textsearch>=0.0.21->contractions) (0.2.0)

In [64]:
#to remove special characters
import re
def remove_sp(text):
  pattern = r'[^A-Za-z0-9\s]'
  text = re.sub(pattern,'',text)
  return text

In [65]:
from nltk.tokenize.toktok import ToktokTokenizer
tokenizer = ToktokTokenizer()

In [66]:
#to remove stop words - is, the, a etc 
#1. Tokenization - split in form of lists of words
def remove_stopwords(text):
  tokens = tokenizer.tokenize(text)
  tokens = [token.strip() for token in tokens]
  filtered_tokens = [token for token in tokens if token not in stopword_list]
  filtered_text = ' '.join(filtered_tokens)
  return filtered_text

In [67]:
# 1. LOwer case 2. HTML tag 3.Contractions 4.Special Characters 5. Stop words
df.news_article = df.news_article.apply(lambda x:x.lower())
df.news_headline = df.news_headline.apply(lambda x:x.lower())

df.news_article = df.news_article.apply(html_tag)
df.news_headline = df.news_headline.apply(html_tag)

df.news_article = df.news_article.apply(con)
df.news_headline = df.news_headline.apply(con)

df.news_article = df.news_article.apply(remove_sp)
df.news_headline = df.news_headline.apply(remove_sp)

df.news_article = df.news_article.apply(remove_stopwords)
df.news_headline = df.news_headline.apply(remove_stopwords)

df.head()

                                       news_headline  ... news_category
0  sri lankan batting fragile bowling little stro...  ...        sports
1  headtohead record india sri lanka odi cricket ...  ...        sports
2  italys bonucci trolls england fans stick twirl...  ...        sports
3  lionel messi gets mobbed hundreds fans outside...  ...        sports
4  2 athletes olympic village test positive covid...  ...        sports

[5 rows x 3 columns]

In [68]:
df['compound'] = df['news_article'].apply(lambda x: vs.polarity_scores(x)['compound'])
df.head()

                                       news_headline  ... compound
0  sri lankan batting fragile bowling little stro...  ...   0.1298
1  headtohead record india sri lanka odi cricket ...  ...   0.0516
2  italys bonucci trolls england fans stick twirl...  ...   0.5423
3  lionel messi gets mobbed hundreds fans outside...  ...   0.6249
4  2 athletes olympic village test positive covid...  ...   0.8957

[5 rows x 4 columns]

In [78]:
df['sentiment'] = df['compound'].apply(lambda x: 'positive' if x>=0.05 else ('negative' if x<=-0.05 else 'neutral'))
#df['sentiment'] = df['compound'].apply(lambda x: 'negative' if x<=-0.05 else None)

In [79]:
df.head()

                                       news_headline  ... sentiment
0  sri lankan batting fragile bowling little stro...  ...  positive
1  headtohead record india sri lanka odi cricket ...  ...  positive
2  italys bonucci trolls england fans stick twirl...  ...  positive
3  lionel messi gets mobbed hundreds fans outside...  ...  positive
4  2 athletes olympic village test positive covid...  ...  positive

[5 rows x 5 columns]

In [80]:
df['sentiment'].value_counts()

negative    30
positive    24
neutral      6
Name: sentiment, dtype: int64